<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles/contact.css">
    <title>KN proMOTOR - kontakt</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="content">
        <nav>
            <ul>
                <li>
                    <a href="default.asp">Aktualności</a>
                </li>
                <li>
                    <a href="news.asp">O nas</a>
                </li>
                <li>
                    <a href="contact.asp">Członkowie</a>
                </li>
                <li>
                    <a href="about.asp">Sponsorzy</a>
                </li>
                <li>
                    <a href="about.asp">Kontakt</a>
                </li>
                <li>
                    <a href="http://facebook.com/promotoragh"><i class="fa fa-facebook"></i></a>
                </li>
            </ul> 
        </nav>
        <div class="contact_wrapper">
        <div class="contact_container">
            <h1>
                Kontakt
            </h1>
            <p>
                <strong>
                    Adres do korespondencji:
                </strong>
                Adres
            </p>
            <br>
            <p>
                <strong>
                    Siedziba KN proMOTOR:
                </strong>
                Adres
            </p>
            <br>
            <p>
                <strong>
                    Opiekunowie KN proMOTOR:
                </strong>
                <br>
                imie nazwisko - <a>mail</a>
                <br>
                imie nazwisko - <a>mail</a>
            </p>
            <br>
            <p>
                <strong>
                    Zarząd KN proMOTOR:
                </strong>
                zarzad
            </p>

        </div>
        </div>
        </div>
        <div class="footer_wrapper">
    <div class="footer">
        <img style="max-height:100px" src="../static/Logotyp.png">
        <div class="address_container">
            <i class="fa fa-home" style="font-size:2rem"></i>
            <span>Adres</span>
        </div>
        <div class="address_container">
            <i class="fa fa-envelope" style="font-size:2rem"></i>
            <span>Mail</span>
        </div>

    </div>
</div>
</body>

</html>