<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KN proMOTOR</title>
    <link rel="stylesheet" type="text/css" href="../styles/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
    <div class="content">
    <nav>
        <ul>
            <li>
                <a href="default.asp">Aktualności</a>
            </li>
            <li>
                <a href="news.asp">O nas</a>
            </li>
            <li>
                <a href="contact.asp">Członkowie</a>
            </li>
            <li>
                <a href="about.asp">Sponsorzy</a>
            </li>
            <li>
                <a href="about.asp">Kontakt</a>
            </li>
            <li>
                <a href="http://facebook.com/promotoragh"><i class="fa fa-facebook"></i></a>
            </li>
        </ul> 
    </nav>
    <div class="background">
        <div class="logotype">
            <img src="../static/Logotyp.png" alt=''>
        </div>
        
    </div> 
    <div class="about_container">
        <div class="about">
            <h1>O nas</h1>
            <p>Celem naszego Koła jest rozbudzanie zainteresowań pracą naukową, badawczą w zakresie szeroko rozumianej 
            elektrotechniki ze szczególnym uwzględnieniem maszyn elektrycznych oraz ich aplikacji w układach napędowych.
            </p> 
            <br>
            <p>W szczególności:</p>
            <ul>
                <li>projektowanie i badania nowych konstrukcji maszyn elektrycznych,</li>
                <li>zastosowanie metody elementów skończonych 3D do badań i optymalizacji maszyn elektrycznych,</li>
                <li>badanie maszyn pod kątem zastosowań w szeroko pojętej elektromobilności.</li>
            </ul>
            <img src="../static/DSC0577-min.JPG">
        </div>
    </div>
    <div class="image-wrapper">
        <h1>Sponsorzy i partnerzy</h1>
    </div>
    <div class="image-wrapper">
        <img class="responsive-image" src="../static\Zrzut ekranu 2023-03-17 205145.png" alt="">
    </div>
    <div class="image-wrapper">
        <img class="faculty_img" src="../static\logo-eaiib-300x300.png" alt="">
        <img class="faculty_img" src="../static/EiASPE_kolor.png" alt="">
    </div>
    <div class="image-wrapper">
        <img class="sponsor_img" src="../static\logo-mesco-ansys-1.png" alt="">
        <img class="sponsor_img" src="../static\Emoto-logo.jpg" alt="">
    </div>
    </div>
    

        <div class="footer">
            <img style="max-height:100px" src="../static/Logotyp.png">
            <div class="address_container">
                <i class="fa fa-home" style="font-size:2rem"></i>
                <span>Adres</span>
            </div>
            <div class="address_container">
                <i class="fa fa-envelope"style="font-size:2rem"></i>
                <span>Mail</span>
            </div>

        </div>
</body>
</html>