<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles/news.css">
    <link rel="stylesheet" type="text/css" href="../styles/main.css">

    <title>KN proMOTOR - aktualności</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <nav>
        <ul>
          <li>
             <a href="default.asp">Aktualności</a>
         </li>
          <li>
             <a href="news.asp">O nas</a>
         </li>
          <li>
             <a href="contact.asp">Członowie</a>
         </li>
          <li>
             <a href="about.asp">Sponsorzy</a>
         </li>
          <li>
             <a href="about.asp">Kontakt</a>
         </li>
        </ul> 
        </nav>
    
        <div class="footer">
            <img style="max-height:100px" src="../static/Logotyp.png">
            <div class="address_container">
                <i class="fa fa-home" style="font-size:2rem"></i>
                <span>Adres</span>
            </div>
            <div class="address_container">
                <i class="fa fa-envelope"style="font-size:2rem"></i>
                <span>Mail</span>
            </div>

        </div>
</body>
</html>