<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles/sponsors.css">
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <title>KN proMOTOR - sponsorzy</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="content" style="padding-bottom: 100px;">
    <nav>
        <ul>
          <li>
             <a href="default.asp">Aktualności</a>
         </li>
          <li>
             <a href="news.asp">O nas</a>
         </li>
          <li>
             <a href="contact.asp">Członowie</a>
         </li>
          <li>
             <a href="about.asp">Sponsorzy</a>
         </li>
          <li>
             <a href="about.asp">Kontakt</a>
         </li>
        </ul> 
        </nav>

        <div class="image-wrapper">
            <h1>Sponsorzy i partnerzy</h1>
        </div>
        
        <div class="image-wrapper">
            <a href="https://www.eaiib.agh.edu.pl/">
            <img class="faculty_img" src="../static\logo-eaiib-300x300.png" alt="">
            </a>
            <a href="https://keiaspe.agh.edu.pl/">
            <img style="padding-left:10%"class="faculty_img" src="../static/EiASPE_kolor.png" alt="">
            </a>
        </div>
        <div class="image-wrapper">
            <a href="https://mesco.com.pl/">
            <img class="sponsor_img" src="../static\logo-mesco-ansys-1.png" alt="">
            </a>
            <a href="http://e-moto.agh.edu.pl/">
            <img style="padding-left:10%" class="sponsor_img" src="../static\Emoto-logo.jpg" alt="">
            </a>
        </div>
        </div>

    </div>
        <div class="footer">
            <img style="max-height:100px" src="../static/Logotyp.png">
            <div class="address_container">
                <i class="fa fa-home" style="font-size:2rem"></i>
                <span>Adres</span>
            </div>
            <div class="address_container">
                <i class="fa fa-envelope"style="font-size:2rem"></i>
                <span>Mail</span>
            </div>

        </div>
</body>
</html>