.background {
  background-image: url("../static/image.png");
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: 1920;
  height: auto;
}
.contact_wrapper{
  align-items: center;
  height: 90vh;
  max-height: 700px;
  min-height: 650px;
  background-color: white;
  display: flex;
  justify-content: center;
}
.contact_container{
  align-items: center;
  border: 1px solid rgb(216, 216, 216);
  height: 80vh;
  width: 70vw;
  max-height: 500px;
  max-width: 1075px;
  min-height: 412px;

}
.contact_container h1{
  margin: 1em;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
}
.contact_container p{
  margin: 2em;
  margin-bottom: 0;
  padding: 5px;
}

.fb {
  text-align: center;
}
