:root {
  --main_font: 'Josefin Sans', sans-serif;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #2a2c2e;

}

body::after {
  content: "";
  display: block;
  height: 0;
  /* 1:2 ratio */
  transform: translateZ(0);
}


nav {
  position: sticky;
  top:0;
  z-index: 1;
  width: 100%;
  background-color: #333;
  height: 50px;
  margin: 0;
  padding: 0;
}

nav ul {
  max-width: 1920px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 20px;
}

nav li {
  transition: all 0.3s ease;
  margin-left: 1em;
  margin-right: 1em;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li:hover {
  transform: scale(1.1);
  color: #fff;
  background-color: #111;
  border-radius: 20px;
}

nav li a:hover {
  color: #dd9933;
}

.logotype {
  background-image: url("../static/image.png");
  background-repeat: no-repeat;
  background-color: #202529;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93vh;
  max-height: 627px;
}

.logotype img {
  width: auto;
  height: 50%;
  max-height: 320px;
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}

.background {
  background-image: url("../static/image.png");
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: 1920;
  height: auto;
}
.about_container{
  background-color: #202529;
  font-family: 'Open Sans', sans-serif;
}
/* Ustawienie szerokości kontenera */
/* Dostosowanie marginesów */
.about {
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 850px;
  margin: 0 auto;
}

/* Dostosowanie rozmiaru tekstu */
.about h1 {
  margin-top: 5px;
  font-size: 36px;
  margin-bottom: 20px;
  justify-self: center;
}

.about p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.about ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about li {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

/* Dostosowanie elementów w listach */
.about li:before {
  content: "\2022";
  margin-right: 10px;
}
.about img{
  justify-self: center;
  margin-top: 3em;
  margin-bottom: 3em;
  width: 30vw;
  max-width: 460px;
}

.image-wrapper{
  background-color: #fff;
  display: flex;
  justify-content: center;
}
.image-wrapper h1{
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

.faculty_img {
  max-width: 250px;

}

.sponsor_img {
  max-width: 250px;

}

.fb {
  text-align: center;
}
.footer_wrapper{
  position: fixed;
  bottom: 0;
}

.footer {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid black;
  padding: 1em;
  background-color: #333;
  color: white;
}

.footer i {
  font-size: 50px;
}
.address_container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}
.address_container i{
  margin: 0.5rem;
}