
.background {
  background-image: url("../static/image.png");
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: 1920;
  height: auto;
}
.members_wrapper{
  align-items: center;
  height: 140vh;
  max-height: fit-content;
  min-height: 650px;
  background-color: white;
  display: flex;
  justify-content: center;
}
.members_container{
  align-items: center;
  border: 1px solid rgb(216, 216, 216);
  height: 100vh;
  width: 70vw;
  
  max-width: 1075px;
  min-height: 900px;
  cursor: default;

}
.members_container li{
  margin: 4px;
}
.members_container h1{
  margin: 1em;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
}
.members_container p{
  margin: 2em;
  margin-bottom: 0;
  padding: 5px;
}

.fb {
  text-align: center;
}


@media screen and (max-width: 900px) {


  .members_container{
    height: 1000px;
    max-height: 1100px;
  }




}