
  .article-card {
    width: 80%;
    border: 1px solid #333;
    justify-self: center;
  }

  .article-summary {
    background-color: #333;
    color: white;
    padding: 10px;
    cursor: pointer;
  }

  .article-details {
    padding: 10px;
    display: grid;
    justify-content: center;
    background-color: white;
  }

  .article-details p {
    margin: 0;
    padding-left: 20%;
    padding-right: 20%;
  }

  .news{
    text-align: center;
    min-height: 620px;
    align-items: center;
   display: grid;
  padding-top: 20px;
  background-color: white;
  
  
  }

